@mixin fit-to-screen() {
	min-width: 100%;

	.toasted:first-child {
		margin-top: 0;
	}

	&.top-right,
	&.top-left,
	&.top-center {
		top: 0;
	}

	&.top-right {
		right: 0;
	}

	&.top-left,
	&.top-center {
		left: 0;
	}

	&.top-center {
		transform: translateX(0);
	}

	&.bottom-right,
	&.bottom-left,
	&.bottom-center {
		bottom: 0;
	}

	&.bottom-right {
		right: 0;
	}

	&.bottom-left,
	&.bottom-center {
		left: 0;
	}

	&.bottom-center {
		transform: translateX(0);
	}
}

@mixin icon-classes {
	.toasted__icon,
	.material-icons,
	.fa,
	.fas,
	.far,
	.fab,
	.mdi {
		@content;
	}
}
