@import "mixins";

.toasted-container {
	// fix for min-height bug in IE
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 10000;
	line-height: normal;

	&:hover {
		cursor: grab;
	}

	&:active {
		cursor: grabbing;
	}

	&.full-width {
		display: flex;
		flex-direction: column;
		max-width: 86%;
		width: 100%;

		// check if user needs this to be fitted into screen
		&.fit-to-screen {
			@include fit-to-screen;
		}
	}

	&.top-right,
	&.top-left,
	&.top-center {
		top: 1rem;
		// margin-top: -8px;
	}

	// Positioning
	&.top-right {
		right: 1rem;
	}

	&.top-left {
		left: 1rem;
	}

	&.top-center {
		left: 50%;
		transform: translateX(-50%);
	}

	&.bottom-right,
	&.bottom-left,
	&.bottom-center {
		bottom: 1rem;
	}

	&.bottom-right {
		right: 1rem;
	}

	&.bottom-left {
		left: 1rem;
	}

	&.bottom-center {
		left: 50%;
		transform: translateX(-50%);
	}

	// fix positioning floating
	&.top-left,
	&.bottom-left {
		.toasted {
			float: left;
		}
	}

	&.top-right,
	&.bottom-right {
		.toasted {
			float: right;
		}
	}

	// toast element styling
	.toasted {
		top: 35px;
		width: auto;
		clear: both;
		margin-top: 10px;
		position: relative;
		max-width: 100%;
		height: auto;
		word-break: normal;
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-sizing: inherit;

		&:first-of-type {
			margin-top: 0px;
		}
	}
}

.toasted {
	@include icon-classes {
		margin-right: 12px;
		// margin-left: -8px;

		&.after {
			margin-left: 16px;
			margin-right: -8px;
		}
	}

	&__message {
		flex: 1 0;
		padding: 10px 0px;
	}

	// Toast Action Styling
	&__action {
		text-decoration: none;
		font-size: 13px;
		padding: 0px 8px;
		min-height: 32px;
		border-radius: 4px;
		text-transform: uppercase;
		letter-spacing: 1.25px;
		font-weight: 500;
		cursor: pointer;
		margin-right: -10px;
		margin-left: 16px;

		background: none;
		color: inherit;
		border: none;
		font: inherit;
		line-height: normal;

		&.icon {
			display: flex;
			align-items: center;
			justify-content: center;

			@include icon-classes {
				margin-left: -4px;
				margin-right: 8px;
				font-size: 18px;
				width: 18px;
				height: 18px;
			}

			&:hover {
				text-decoration: none;
			}
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}

		&:active {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}

@media only screen and (max-width: 600px) {
	.toasted-container {
		@include fit-to-screen;

		&.top-center,
		&.bottom-center {
			align-items: stretch !important;
		}

		&.top-right,
		&.top-left,
		&.bottom-left,
		&.bottom-right {
			.toasted {
				float: none;
			}
		}

		.toasted {
			border-radius: 0;
		}
	}
}
